# Containerised database name.
# This MUST be set to flooddev. It is specified using an environment variable for backward compatibility with existing artifacts.
DB_NAME=flooddev

# docker-compose
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres

# docker-compose-liquibase
DB_HOST=flood-db
DB_USER=u_flood
DB_PASSWORD=secret
